<div class = "hero">
 <br />
  <div class= "frosty col-10 offset-1 text-center">
    <br />
    <h1>Learn Magic From the Pros</h1>
    <br />
    <h2>I'm an Illusionist, Michael.</h2>
    <br />
    <%= link_to 'Learn More', '#', class: 'btn btn-success' %>
    <br /><br />
  </div>
</div>


<br />
<div class="row feature text-center">
  <div class="col-12 col-sm">
    <h3>Easy Courses</h3>.
    <br />
    <p> Choose any numbeer of course and study with Amazing teachers.</p>
  </div>

  <div class="col-12 col-sm">
    <h3>Learn At Your Own Pace</h3>
    <br />
    <p> Enroll and access a plethora of courses.</p>
  </div>

  <div class="col-12 col-sm">
    <h3>Join our Community</h3>
    <br />
    <p> Learn with a community of like-minded individuals.</p>
  </div>
</div>